---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"personalizations":[{"to":[{"email":"goggin13@gmail.com"}]}],"from":{"email":"example@example.com"},"subject":"TEST","content":[{"type":"text/html","value":"\u003ch1\u003ehello
        world\u003c/h1\u003e"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer bearer
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Message-Id:
      - 1vsX0XImQgqP-0bHL_fb7g
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 12 May 2017 21:34:33 GMT
recorded_with: VCR 2.9.3
